{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
	<link rel="icon" type="image/icon" sizes="32x32" href="{% static './imgs/menu y icon/favicon32x32_mejorado.ico' %}">
    <link rel="icon" type="image/icon" sizes="16x16" href="{% static './imgs/menu y icon/16x16favicon_mejorado final.ico' %}">
	<link rel="stylesheet" href="{% static './css/grillas.css' %}">
	<link rel="stylesheet" href="{% static './css/blog.css' %}">
     <link rel="stylesheet" href="{% static './css/footer.css' %}">
	 <link rel="stylesheet" media="(min-width: 1024px)" href="{% static './css/Franquicia/menuFloat.css' %}">
	 <link rel="stylesheet" media="(max-width: 1023px)" href="{% static './css/Franquicia/menu-celulares.css' %}">

</head>
<body>
	<nav class="menuFlot">
        <div class="conteinerRow">
            <div class="row1">
                <div class="c1">
                    <img src="{% static './imgs/logo.png' %}" alt="Logo Inmobiliaria" class="logo " >
                </div>

              
                <div class="c3 menuPaginas  ">
                    <a href="{% url 'index' %}" class=" opMenu">Inicio</a>
                        <a href="{% url 'comprar' %}" class="opMenu">Comprar</a>
                       <a href="{% url 'alquilar' %}" class="opMenu">Alquilar</a>
                       <a href="{% url 'blog' %}" class="opMenu">Blog</a>
                         <a href="{% url 'franquicia' %}" class="opMenu pagActual">Franquicia</a>
                    
                </div>
            </div>
        </div>
    </nav>

    <div class="menu-smartphone">
        <div class="c1ABC">    
            <img src="{% static './imgs/logo.png' %}" alt="Logo Inmobiliaria" class="logo " >
            <nav class="nav">
                <img src="{% static './imgs/menu y icon/icons8-menu-rounded-50x50-diseñocorrecto.png' %}" alt="Botón de menú" class="toggle-button">
              </nav>
        </div>

        
       
        <div class="c3 menuPaginas  menu">
            <div class="menu-item"><a href="{% url 'index' %}" class=" opMenu">Inicio</a> </div>
            <div class="menu-item"><a href="{% url 'comprar' %}" class="opMenu">Comprar</a> </div>
            <div class="menu-item"><a href="{% url 'alquilar' %}" class="opMenu">Alquilar</a> </div>
            <div class="menu-item"><a href="{% url 'blog' %}" class="opMenu">Blog</a> </div>
            <div class="menu-item"><a href="{% url 'franquicia' %}" class="opMenu pagActual">Franquicia</a> </div>
          
    </div>
</div>

	<header class="mt-150">
		<h1 class="tCentrado">Bienvenido a nuestra seccion de Blog</h1>
	</header>
	<main>
		<div class="conteinerRow">
			<div class="row1 ">
				<div class="c2 blog">
					<div class="bgImgcontent">
						<img src="{% static './imgs/casa.jpg' %}" alt="">
						<img src="{% static './imgs/houseSeparate.png' %}" alt="">
					</div>
					<div class="blogDescripcion">
						<h1>10 cosas que debes tener en cuenta al comprar una casa por primera vez</h1>
						<p>
							<ol>
								<li>Comprobar que la vivienda esté libre de cargas mediante una nota simple, así como de deudas de la comunidad y de otras obligaciones posibles.</li>
								<li>Calcular con atención la hipoteca en caso de tener que solicitarla. Que no supere el 40 % de nuestros ingresos.</li>
								<li>Tener en cuenta los gastos asociados, la cuota de la comunidad e impuestos y gastos extras para comprar muebles o dar de alta suministros de luz, gas y agua.</li>
								<li>Informarse sobre el vecindario, el barrio, la situación del piso, los servicios cercanos, tiendas, colegios y transportes.</li>
								<li>Prever nuestras necesidades en cuanto a espacio, si necesitaremos dos o tres dormitorios, armarios, garaje.</li>
								<li>Enterarse de las posibilidades de la comunidad en cuanto a lugares para juegos de niños, patio interior y piscina.</li>
								<li>Prestar atención a la orientación del piso respecto al aprovechamiento de la luz y el calor y solicitar el certificado de eficiencia energética</li>
								<li>Comprobar las calidades y el acabado, así como los sistemas eléctricos y de agua.</li>
								<li>Sopesar las ventajas de comprar una casa nueva o usada con reforma y elegir la opción més conveniente.</li>
								<li>Informarse bien para no precipitarse ni perder ocasiones interesantes.</li>
							</ol>
						</p>
					</div>
					<div class="infoBlog">
						<span><h4><b>Fecha:</b> 16/05/23</h4></span>
						<span><h4>autor: <b>Juan Becerra</b></h4></span>
					</div>
				</div>
				<div class="c2 blog">
					<div class="bgImgcontent">
						<img src="{% static './imgs/deptos.jpg' %}" alt="">
						<img src="{% static './imgs/deptosPNG.png' %}" alt="">
					</div>
					<div class="blogDescripcion">
						<h1>Consejos a la hora de alquilar</h1>
						<ol>
							<li><b>Presupuesto</b>: Antes de comenzar la búsqueda de un departamento, determina cuánto puedes permitirte gastar en el alquiler mensualmente. Esto te ayudará a filtrar opciones y evitarás comprometerte con un alquiler que no puedas costear.</li>
							<li><b>Ubicación</b>: Considera la ubicación del departamento en relación con tus necesidades y estilo de vida. Piensa en factores como la proximidad al trabajo, transporte público, servicios y comodidades, escuelas, hospitales, áreas recreativas, etc.</li>
							<li><b>Tamaño y distribución</b>: Determina cuántos dormitorios y baños necesitas y si el espacio disponible se ajusta a tus necesidades. Considera también la distribución del departamento y si se adapta a tu estilo de vida.</li>
							<li><b>Inspecciona el departamento</b>: Antes de firmar el contrato de alquiler, inspecciona minuciosamente el departamento. Verifica que todas las instalaciones y electrodomésticos funcionen correctamente. Busca posibles daños o problemas estructurales y asegúrate de que el departamento esté en buenas condiciones.</li>
							<li><b>Contrato de alquiler</b>: Lee detenidamente el contrato de alquiler antes de firmarlo. Asegúrate de entender todos los términos y condiciones, incluyendo el plazo del contrato, el monto del alquiler, los servicios incluidos, las políticas de mantenimiento, las restricciones y cualquier cláusula especial.</li>
							<li><b>Depósito y pagos</b>: Averigua cuál es el depósito requerido y si hay algún cargo adicional, como el pago de servicios o gastos de mantenimiento. Pregunta sobre la política de devolución del depósito al finalizar el contrato.</li>
							<li><b>Seguro de alquiler</b>: Considera contratar un seguro de alquiler para proteger tus pertenencias en caso de robos, incendios u otros eventos imprevistos.</li>
							<li><b>Referencias y antecedentes</b>: Algunos propietarios pueden solicitar referencias o verificar tus antecedentes antes de alquilarte el departamento. Prepárate para proporcionar esta información si es necesario.</li>
							<li><b>Documentación necesaria</b>: Ten a mano los documentos requeridos, como comprobantes de ingresos, identificación personal, referencias de alquiler anteriores, entre otros. Esto agilizará el proceso de solicitud.</li>
							<li>
								<b>Plazo y renovación</b>: Averigua si el contrato de alquiler tiene una cláusula de renovación automática y cuál es el plazo de notificación requerido para terminar el contrato. Esto te dará una idea de la flexibilidad que tienes si deseas cambiar de vivienda en el futuro.
							</li>
						</ol>
					</div>
					<div class="infoBlog">
						<span><h4><b>Fecha:</b> 15/04/23</h4></span>
						<span><h4>autor: <b>Juan Becerra</b></h4></span>
					</div>
				</div>
				
			</div>
		</div>
	</main>
	<footer>
		<div class="conteinerRow">
              <div class="row1">
                <div class="c2">
                  <article class="alumno gm">
                    <img src="{% static './imgs/hombre.png' %}" alt="">
                    <h2 class="a">Guillermo Perez Maidana</h2>
                  </article>
                  <article class="alumno ff">
                    <img src="{% static './imgs/hombre (2).png' %}" alt="">
                    <h2 class="b">Francisco N. Fonseca</h2>
                  </article>
                  <article class="alumno jb">
                    <img src="{% static './imgs/hombre (3).png' %}" alt="">
                    <h2 class="c">Juan Becerra</h2>
                  </article>
                </div>
                <div class="c2 logoGrupo">
                  <img src="{% static './imgs/logoG19.png' %}" alt="">
                </div>
              </div>
            </div>
	</footer>
	<script src="{% static './js/Franquicia/botonmenu.js' %}"></script>

</body>
</html>
