<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
        <title>Inmobiliaria</title>
        <link rel="icon" type="image/icon" sizes="32x32" href="{% static './imgs/menu y icon/favicon32x32_mejorado.ico' %}">
        <link rel="icon" type="image/icon" sizes="16x16" href="{% static './imgs/menu y icon/16x16favicon_mejorado final.ico' %}">
        <link rel="stylesheet" href="{% static './css/grillas.css' %}">   
        <link rel="stylesheet" media="(min-width: 1024px)" href="{% static './css/Franquicia/menuFloat.css' %}">
        <link rel="stylesheet" media="(max-width: 1023px)" href="{% static './css/Franquicia/menu-celulares.css' %}">
        <link rel="stylesheet" href="{% static './css/inicio/header.css' %}">
        <link rel="stylesheet" href="{% static './css/inicio/services.css' %}">
        <link rel="stylesheet" href="{% static './css/footer.css' %}">
       
    </head>
    <body>
        <nav class="menuFlot">
            <div class="conteinerRow">
                <div class="row1">
                    <div class="c1">
                        <img src="{% static './imgs/logo.png' %}" alt="Logo Inmobiliaria" class="logo  " >
                    </div>
    
                  
                    <div class="c3 menuPaginas  ">
                        <a href="{% url 'index' %}" class=" opMenu">Inicio</a>
                        <a href="{% url 'comprar' %}" class="opMenu">Comprar</a>
                       <a href="{% url 'alquilar' %}" class="opMenu">Alquilar</a>
                       <a href="{% url 'blog' %}" class="opMenu">Blog</a>
                         <a href="{% url 'franquicia' %}" class="opMenu pagActual">Franquicia</a>
                        
                    </div>
                </div>
            </div>
        </nav>
        	
            
                <div class="row1 sinPadding">
                    <div class="c4 imgHeader  anchoCompleto sinPadding">
                       <div class="row1 anchoCompleto sinPadding">
                           <div class="c4 sinPadding anchoCompleto">
                               <img src="{% static './imgs/isotipo.png' %}" alt="" class="isotipo">
                           </div>
                       </div>
                       <div class="row1 anchoCompleto sinPadding">
                           <div class="c4 anchoCompleto sinPadding">
                               <h1 class="center">Mas que mudarse, cambiar estilo de vida</h1>
                           </div>
                       </div>
                       <div class="row1 sinPadding">
                           <div class="c4 anchoCompleto  botonesFlyer sinPadding">
                               <span><a href="{% url 'comprar' %}" class="boton">Comprar</a></span>
                               <span><a href="{% url 'alquilar' %}" class="boton">Alquilar</a></span>
                               <span><a href="{% url 'franquicia' %}" class="boton">Emprender</a></span>
                           </div>
                       </div>
                    </div>
                </div>
            
        	
         
        </header>

        <main>
        	
            <section class="service" id="servicios">
            	<div class="conteinerRow">
	            	<div class="row1 sinPadding">
	            		<div class="c4 contentServicio cs1 sinPadding">
	            			<div class="foto">
	            				<img src="{% static './imgs/service1.jpg' %}" >
	            			</div>
	            			<div class="texto">
	            				<h1>Compra / Alquiler</h1>
	            				<p>Inmuebles extraordinarios dirigidos y supervisados por Corredores Públicos matriculados, especializados en la compra y venta de propiedades premium</p>
	            				<div class="sBotones">
                                    <a href="{% url 'comprar' %}" class="boton">Comprar</a>
                                    <a href="{% url 'alquilar' %}" class="boton">Alquilar</a>
		            			</div>
	            			</div>
	            			<div class="fondoMedio"></div>
	            		</div>
	            	</div>
	            	<div class="row1">
                        <div class="c4 contentServicio cs2">
                            <div class="foto">
                                <img src="{% static './imgs/service2.jpg' %}" >
	            				
	            			</div>
	            			<div class="texto">
	            				<h1>Emprendimiento</h1>
	            				<p>En la red de oficinas adheridas a RE/MAX, encontrarás propiedades en emprendimientos inmobiliarios en cuotas y con beneficios exclusivos en la forma de pago.</p>
	            				<div class="sBotones">
		            				<a href="{% url 'franquicia' %}" class="boton">Consultar</a>
		            			</div>

	            			</div>
	            			<div class="fondoMedio"></div>
	            			
	            		</div>
	            	</div>
	            </div>
            </section>
        </main>

        <footer>
            <div class="conteinerRow">
                <div class="row1">
                  <div class="c2">
                    <article class="alumno gm">
                      <img src="{% static './imgs/hombre.png' %}" alt="">
                      <h2 class="a">Guillermo Perez Maidana</h2>
                    </article>
                    <article class="alumno ff">
                      <img src="{% static './imgs/hombre (2).png' %}" alt="">
                      <h2 class="b">Francisco N. Fonseca</h2>
                    </article>
                    <article class="alumno jb">
                      <img src="{% static './imgs/hombre (3).png' %}" alt="">
                      <h2 class="c">Juan Becerra</h2>
                    </article>
                  </div>
                  <div class="c2 logoGrupo">
                      <img src="{% static './imgs/logoG19.png' %}" alt="">
                  </div>
                </div>
              </div>
        </footer>
    </body>
</html> -->






































{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
        <title>Inmobiliaria</title>
        <link rel="icon" type="image/icon" sizes="32x32" href="{% static './imgs/menu y icon/favicon32x32_mejorado.ico' %}">
        <link rel="icon" type="image/icon" sizes="16x16" href="{% static './imgs/menu y icon/16x16favicon_mejorado final.ico' %}">
        <link rel="stylesheet" href="{% static './css/grillas.css' %}">   
        <link rel="stylesheet" media="(min-width: 1024px)" href="{% static './css/Franquicia/menuFloat.css' %}">
        <link rel="stylesheet" media="(max-width: 1023px)" href="{% static './css/Franquicia/menu-celulares.css' %}">
        <link rel="stylesheet" href="{% static './css/inicio/header.css' %}">
        <link rel="stylesheet" href="{% static './css/inicio/services.css' %}">
        <link rel="stylesheet" href="{% static './css/footer.css' %}">
       
    </head>
    <body>
       
<body>
    <nav class="menuFlot">
        <div class="conteinerRow">
            <div class="row1">
                <div class="c1">
                    <img src="{% static './imgs/logo.png' %}" alt="Logo Inmobiliaria" class="logo " >
                </div>

              
                <div class="c3 menuPaginas  ">
                    <a href="{% url 'index' %}" class=" opMenu">Inicio</a>
                        <a href="{% url 'comprar' %}" class="opMenu">Comprar</a>
                       <a href="{% url 'alquilar' %}" class="opMenu">Alquilar</a>
                       <a href="{% url 'blog' %}" class="opMenu">Blog</a>
                         <a href="{% url 'franquicia' %}" class="opMenu pagActual">Franquicia</a>
                    
                </div>
            </div>
        </div>
    </nav>

    <div class="menu-smartphone">
        <div class="c1ABC">    
            <img src="{% static './imgs/logo.png' %}" alt="Logo Inmobiliaria" class="logo " >
            <nav class="nav">
                <img src="{% static './imgs/menu y icon/icons8-menu-rounded-50x50-diseñocorrecto.png' %}" alt="Botón de menú" class="toggle-button">
              </nav>
        </div>

        
       
        <div class="c3 menuPaginas  menu">
            <div class="menu-item"><a href="{% url 'index' %}" class=" opMenu">Inicio</a> </div>
            <div class="menu-item"><a href="{% url 'comprar' %}" class="opMenu">Comprar</a> </div>
            <div class="menu-item"><a href="{% url 'alquilar' %}" class="opMenu">Alquilar</a> </div>
            <div class="menu-item"><a href="{% url 'blog' %}" class="opMenu">Blog</a> </div>
            <div class="menu-item"><a href="{% url 'franquicia' %}" class="opMenu pagActual">Franquicia</a> </div>
          
    </div>
</div>

            
                <div class="row1 sinPadding margenmenu">
                    <div class="c4 imgHeader  anchoCompleto sinPadding">
                       <div class="row1 anchoCompleto sinPadding">
                           <div class="c4 sinPadding anchoCompleto">
                               <img src="{% static './imgs/isotipo.png' %}" alt="" class="isotipo">
                           </div>
                       </div>
                       <div class="row1 anchoCompleto sinPadding">
                           <div class="c4 anchoCompleto sinPadding">
                               <h1 class="center">Mas que mudarse, cambiar estilo de vida</h1>
                           </div>
                       </div>
                       <div class="row1 sinPadding">
                           <div class="c4 anchoCompleto  botonesFlyer sinPadding">
                               <span><a href="{% url 'comprar' %}" class="boton">Comprar</a></span>
                               <span><a href="{% url 'alquilar' %}" class="boton">Alquilar</a></span>
                               <span><a href="{% url 'franquicia' %}" class="boton">Emprender</a></span>
                           </div>
                       </div>
                    </div>
                </div>
            
        	
         
        </header>

       
        <main>
        	
            <section class="service" id="servicios">
            	<div class=" alineado">
	            	<div class="row1 sinPadding espacio ">
	            		<div class="c4 contentServicio cs1 sinPadding">
	            			<div class="foto">
	            				<img src="{% static './imgs/service1 792x432volteada.jpg' %}" >
	            			</div>
	            			<div class="texto">
	            				<h1>Compra / Alquiler</h1>
	            				<p>Inmuebles extraordinarios dirigidos y supervisados por Corredores Públicos matriculados, especializados en la compra y venta de propiedades premium</p>
	            				<div class="sBotones">
                                    <a href="{% url 'comprar' %}" class="boton">Comprar</a>
                                    <a href="{% url 'alquilar' %}" class="boton">Alquilar</a>
		            			</div>
	            			</div>
	            			<div class="fondoMedio"></div>
	            		</div>
	            	</div>
	            	<div class="row1 espacio">
                        <div class="c4 contentServicio cs2">
                            <div class="foto">
                                <img src="{% static './imgs/service2 792x432.jpg' %}" >
	            				
	            			</div>
	            			<div class="texto">
	            				<h1>Emprendimiento</h1>
	            				<p>En la red de oficinas adheridas a RE/MAX, encontrarás propiedades en emprendimientos inmobiliarios en cuotas y con beneficios exclusivos en la forma de pago.</p>
	            				<div class="sBotones">
		            				<a href="{% url 'franquicia' %}" class="boton">Consultar</a>
		            			</div>

	            			</div>
	            			<div class="fondoMedio"></div>
	            			
	            		</div>
	            	</div>
	            </div>
            </section>
        </main>
        <footer>
            <div class="conteinerRow">
                <div class="row1">
                  <div class="c2">
                    <article class="alumno gm">
                      <img src="{% static './imgs/hombre.png' %}" alt="">
                      <h2 class="a">Guillermo Perez Maidana</h2>
                    </article>
                    <article class="alumno ff">
                      <img src="{% static './imgs/hombre (2).png' %}" alt="">
                      <h2 class="b">Francisco N. Fonseca</h2>
                    </article>
                    <article class="alumno jb">
                      <img src="{% static './imgs/hombre (3).png' %}" alt="">
                      <h2 class="c">Juan Becerra</h2>
                    </article>
                  </div>
                  <div class="c2 logoGrupo">
                      <img src="{% static './imgs/logoG19.png' %}" alt="">
                  </div>
                </div>
              </div>
        </footer>
        <script src="{% static './js/Franquicia/botonmenu.js' %}"></script>
    </body>
</html>